# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
1D-Discharge.layout
Cross_N2_lxtype.txt
Comps_N2.txt
1D-Discharge.cscope_file_list
N2_chemistry_new.txt
Comps_N2.txt
*.txt
*.o

bin/Debug/1D-Discharge.exe

*.o

gmon.out

obj/Debug/1D_MainFun.o

obj/Debug/1Dmesh.o

obj/Debug/Chemistry_calc.o

obj/Debug/EEDF_calc.o
